.bottone-login {
    position: absolute;
    top: 5px;
    right: 5px;
    align-items: center;
    background-color: #FF4B2B;
    color: #fff;
    padding: 11px 25px;
    border-radius: 6px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 700;
}   

.bottone-login:hover,
.bottone-login:active,
.bottone-login:focus {
    color: #FFFFFF !important;
    text-decoration: none !important;
}